
header {
    width: 100%;
    height: 750px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    background: url(./images/back.png);
    background-size: cover;
    margin-top: -30px;
    padding-top: 10px;
    margin-left: -7px;
    flex: 1;
    opacity: 56px;
}

.navigate {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.home,
.booking,
.contact

 {
    color: #FFF;
    font-family: "inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.taxBarb {
    color: #FFF;
    font-family: "Roboto-Serif";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 99px;
    margin-top: 180px;
    font-weight: bold;
}

.about {
    color: #FFD7AB;
    font-family: inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.media {
    width: 100%;
    height: 80px;
    background-color: #D99F5F;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}
.media-main{

    position:absolute;
    top: 680px;
    left: 435px;
}
.media img {
    margin-left: 30px;
}

.headerMain {
    margin-left: 99px;
    margin-top: 28px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutUsInfoContainer {
    margin-left: 90px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #161010;
    opacity: 50%;
    width: 280px;
    height: 220px;
    border-radius: 20px;

}

.aboutUsText {
    font-family: "Roboto-Serif";
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
}

.secondBackground {
    background-color: #FFF;
    height: 900px; 
}

.secondBackgroundContentContainer {
    background-color: #FFF;
    height: 593px;
    width: 800px;
    margin-top: 160px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
}

.ourHistoryText {
    color: #000000;
    font-weight: bold;
    font-family: "Roboto Serif";
    align-self: center;
    line-height: auto;
    margin-left: 450px;
    margin-top: -300px;
}

.ourHistoryTextInfo {
    font-family: "Roboto Serif";
    margin-left: 350px;
    font-size: 18;
}

    


