*{
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 750px;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    background: url(./images/back.png);
    background-size: cover;
    margin-top: 30px;
    padding-top: 10px;
    margin-left: 7px;
    flex: 1;
    opacity: 56px;
}

.navigate {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.home,
.booking,
.contact

 {
    color: #FFF;
    font-family: "inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.taxBarb {
    color: #FFF;
    font-family: "Roboto-Serif";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 99px;
    margin-top: 180px;
    font-weight: bold;
}

.about {
    color: #FFD7AB;
    font-family: inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.media {
    width: 100%;
    height: 80px;
    background-color: #D99F5F;
    float: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
}

.media-main{

    position:absolute;
    top: 670px;
    left: 863px;
}
.media img {
    margin-left: 30px;
}

.headerMain {
    margin-left: 99px;
    margin-top: 28px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutUsInfoContainer {
    margin-left: 90px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #161010;
    opacity: 50%;
    width: 280px;
    height: 220px;
    border-radius: 20px;

}

.aboutUsText {
    font-family: "Roboto-Serif";
    color: #FFF;
    font-size: 15px;
    font-weight: bold;
}

.secondBackground {
    background-color: #FFF;
    height: 900px; 
}

.secondBackgroundContentContainer {
    background-color: #FFF;
    height: 500px;
    width: 100%;
    margin-top: 160px;
    align-items: center;
    justify-content: center;
}

.ourHistoryText {
    color: #000000;
    font-weight: bold;
    font-family: "Roboto Serif";
    align-self: center;
    line-height: auto;
    margin-left: 850px;
    margin-top: -380px;
}

.ourHistoryTextInfo {
    font-family: "Roboto Serif";
    margin-left: 750px;
    margin-top: 50px;
    font-size: 15;
    font-weight: lighter;
}

.videoSpace {
    margin-top: -280px;
}

.videoProperties {
    object-fit: cover;
}

.leadership {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 100px;
}

.leadershipText {
    font-family: "Roboto Serif";
    font-size: 30px;
    font-weight: bold;
}

.positionsContainer {
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.firstPosition {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 70px;
}

.secondPosition {
    height: 350px;
    width: 350px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 220px;
}

.thirdPosition {
    height: 350px;
    width: 350px;
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    left: 50px;
    margin-top: 20px;
}

.infoOnPositions {
    width: 350px;
    height: 50px;
    background-color: #D99F5F;
    margin-top: -20px;
    text-align: center;
}

.textOnPositions {
    color: #FFF;
    font-family: "Roboto Serif";
}


    


