main {
    margin-top: 100px;
    margin-bottom: 100px;
}
.gall11 {
    width: 260px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}
.gall12 {
    width: 240px;
    height: 250px;
    position: relative;
    top: 100px;
}
.gall1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
}
